---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Define duotone colours
$syntax-uno: 40;
$syntax-duo: 220;
$uno-1: hsl($syntax-uno, 76%, 10%);
$uno-2: hsl($syntax-uno, 58%, 34%);
$uno-3: hsl($syntax-uno, 34%, 54%);
$uno-4: hsl($syntax-uno, 16%, 66%);
$duo-1: hsl($syntax-duo, 92%, 28%);
$duo-2: hsl($syntax-duo, 46%, 62%);
$duo-3: hsl($syntax-duo,  6%, 70%);
$syntax-fg: $uno-2;
$syntax-bg: hsl($syntax-uno, 33%, 97%);
$syntax-accent: hsl($syntax-duo, 80%, 60%);
$syntax-guide: darken($syntax-bg, 10%);
$syntax-selection: darken($syntax-bg, 12%);
$syntax-selection-gutter: darken($syntax-bg, 3%);

// Our variables
$base-font-family: Georgia, Times New Roman, Times, serif;
$base-font-size: 14pt;
$small-font-size: $base-font-size * 0.875;
$headline-font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
$base-line-height: 1.5;
$spacing-unit: 42px;

$text-color: $uno-1;
$background-color: $syntax-bg;
$brand-color: $uno-2;
$brand-color-light: $uno-3;
$brand-color-dark: $uno-1; 
$grey-color: darken($duo-3, 25%);
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
$on-palm:          600px;
$on-laptop:        760px;
@mixin media-query($device) {
  @media screen and (max-width: $device) {
  	@content;
  }
}

@import "base", "layout", "syntax-highlighting";
