body {
  background: #eee url('../images/notebook.png');
  color: #252D47;
  font: 300 14pt "Source Sans Pro", "Helvetica Neue", "Helvetica", sans-serif;
  padding: 0 1em;
}

code,
kbd,
pre,
samp {
  font: 300 12pt "Source Code Pro", monospace;
}

pre { padding: .5em; }

a { text-decoration: none; }
a:link { color: #268BD2; }
a:visited { color: #2AA198; }
a:hover,
a:focus,
a:active { text-decoration: underline; }

#Container {
  margin: 10px auto;
  max-width: 640px;
  padding: 0 10px;
}

#Container > header > h1 {
  font-size: 32pt;
  font-weight: normal;
}

nav {
  float: right;
}

nav a {
  font-weight: bold;
  padding: 0 .5em;
}

main {
  background: white;
  background: rgba(255, 255, 255, .75);
  line-height: 1.625;
  padding: 1px 10px 30px 10px;
}

main > header > h1 {
  border-bottom: 1px solid #2AA198;
  text-align: left;
}

main > header > h1 > small {
  color: #666;
  font-size: 12pt;
}

footer > pre {
  background: inherit;
  text-align: center;
}
