/**
 * Syntax highlighting styles
 */

.highlight {
    background: $syntax-bg;
	color: $syntax-fg;
    @extend %vertical-rhythm;

    .bp    { color: $syntax-fg } // Name.Builtin.Pseudo

    .c     { color: $uno-4; font-style: italic } // Comment
    .c1    { color: $uno-4; font-style: italic } // Comment.Single
    .cm    { color: $uno-4; font-style: italic } // Comment.Multiline
    .cp    { color: $uno-4 } // Comment.Preproc
    .cs    { color: $uno-4; font-weight: bold } // Comment.Special

    .err   { color: $uno-2; background-color: $syntax-guide } // Error

    //.gd    { color: #000; background-color: #fdd } // Generic.Deleted
    //.gd .x { color: #000; background-color: #faa } // Generic.Deleted.Specific
    //.ge    { font-style: italic } // Generic.Emph
    //.gh    { color: #999 } // Generic.Heading
    //.gi    { color: #000; background-color: #dfd } // Generic.Inserted
    //.gi .x { color: #000; background-color: #afa } // Generic.Inserted.Specific
    //.go    { color: #888 } // Generic.Output
    //.gp    { color: #555 } // Generic.Prompt
    //.gr    { color: #a00 } // Generic.Error
    //.gs    { font-weight: bold } // Generic.Strong
    //.gt    { color: #a00 } // Generic.Traceback
    //.gu    { color: #aaa } // Generic.Subheading

    .k     { color: $duo-2 } // Keyword
    .kc    { color: $duo-2 } // Keyword.Constant
    .kd    { color: $duo-2 } // Keyword.Declaration
    .kp    { color: $duo-2 } // Keyword.Pseudo
    .kr    { color: $duo-2 } // Keyword.Reserved
    .kt    { color: $duo-2 } // Keyword.Type

    .m     { color: $duo-1 } // Literal.Number
    .mf    { color: $duo-1 } // Literal.Number.Float
    .mh    { color: $duo-1 } // Literal.Number.Hex
    .mi    { color: $duo-1 } // Literal.Number.Integer
    .mo    { color: $duo-1 } // Literal.Number.Oct
    .il    { color: $duo-1 } // Literal.Number.Integer.Long
    .s     { color: $duo-1 } // Literal.String
    .s1    { color: $duo-1 } // Literal.String.Single
    .s2    { color: $duo-1 } // Literal.String.Double
    .sb    { color: $duo-1 } // Literal.String.Backtick
    .sc    { color: $duo-1 } // Literal.String.Char
    .sd    { color: $duo-1 } // Literal.String.Doc
    .se    { color: $duo-1 } // Literal.String.Escape
    .sh    { color: $duo-1 } // Literal.String.Heredoc
    .si    { color: $duo-1 } // Literal.String.Interpol
    .sr    { color: $duo-1 } // Literal.String.Regex
    .ss    { color: $duo-1 } // Literal.String.Symbol
    .sx    { color: $duo-1 } // Literal.String.Other

	.n     { color: $uno-3 }
    .na    { color: $uno-2 } // Name.Attribute
    .nb    { color: $duo-2 } // Name.Builtin
    .nc    { color: $duo-1 } // Name.Class
    .ne    { color: $duo-1 } // Name.Exception
    .nf    { color: $duo-1 } // Name.Function
    .ni    { color: $uno-3 } // Name.Entity
    .nn    { color: $duo-2 } // Name.Namespace
    .no    { color: $duo-1 } // Name.Constant
    .nt    { color: $uno-1 } // Name.Tag
    .nv    { color: $uno-2 } // Name.Variable
    .vc    { color: $uno-2 } // Name.Variable.Class
    .vg    { color: $uno-2 } // Name.Variable.Global
    .vi    { color: $uno-2 } // Name.Variable.Instance

    .o     {  } // Operator
    .ow    {  } // Operator.Word

    .w     { color: $syntax-accent } // Text.Whitespace
}
