<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kevin's blog{% if page.title %}: {{ page.title }} {% endif %}</title>
    <link rel="stylesheet" href="{{ get_url(path="style.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ get_url(path="syntax-theme.css") }}">
  </head>
  <body>
    <header>
      <h1><a href="/">Kevin's blog</a></h1>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
