<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Kevin Dungs">
    <meta name="description" content="Personal web-site and blog of Kevin Dungs.">
    <title>Kevin Dungs</title>

    <!-- Web fonts -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,300italic,600italic'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Source+Code+Pro:300,600'>

    <!-- Style -->
    <link rel="stylesheet" href="/css/normalise.css">
    <link rel="stylesheet" href="/css/solarized_light.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <img src="https://www.gravatar.com/avatar/4c6b605bb8fc7b87e22943dfc422b4cd?s=64" alt="">
      <h1>Kevin Dungs</h1>
    </header>

    <nav>
      <a href="/index.html">Home</a>
      <a href="/about.html">About</a>
      <a href="/archive.html">Archives</a>
    </nav>

    <main>
      <header>
          <h1>$title$$if(date)$ <small>$date$</small>$endif$</h1>
      </header>

      $body$
    </main>

    <footer>
    </footer>
  </body>
</html>
